body {
    font-family: "Afacad";
    overflow: hidden;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
font-size: 10px;
scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

.container{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

/* Hero Section */
#hero{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
#hero .hero-container{
    width: 50vw;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    font-size: 18px;
}


#hero .hero-right{
    width: 50vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    padding-top: 10vh;
    justify-content: space-between;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
.folder-container h4{
    color: rgb(173, 173, 173);
    font-size: 13px;
}
.folder-container .activee{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 13px;
}
.dcouter{
    width: 20vw;
    height: max-content;
    flex: 0 0 20vw;
    margin-bottom: 50px;
}
.dropdown-content {
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: visible;
    flex-direction: column-reverse;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 2px 2px 20px #9d9d9d;
  }
  .dropdown-content:hover .dropleft{
    display: flex;
    animation: open23 0.5s ease forwards;
  }
  .dropdown-content:hover .dropright{
    filter: grayscale(0);
  }


.dropleft{
    width: 100%;
    height: 0;
    display: none;
    overflow: hidden;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    color: #202020;
}
.dropleft h2{
    font-size: 28px;
    margin-bottom: 5px;
}
.dropleft h3{
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}
.dropleft p{
    font-size: 13px;
    margin-bottom: 10px;
}

.dropright{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items:end;
    justify-content: left;
    overflow: hidden;
    filter: grayscale(1);
    color: whitesmoke;
    padding-left: 5px;
    padding-bottom: 5px;
}


/* End Hero Section */





    /* Keyframes */

@keyframes text_reveal{

    50%{
        color: rgb(250, 250, 250);
        font-size: 90px;
    }
    100%{
        color:#252525;
    }
}
@keyframes text_reveal2{

    50%{
        color: rgb(56, 56, 56);
        font-size: 90px;
    }
    100%{
        color:whitesmoke;
    }
}
@keyframes open23{

    1%{
        height: 1vh;
    }
    100%{
        height:15vh;
    }
}

/* End Keyframes */


/* Media Query for Tablet */
@media only screen and (max-width:1000px){
    .folder-container h4{
        color: rgb(173, 173, 173);
        font-size: 13px;
    }
    .folder-container .activee{
        color: whitesmoke;
        font-weight: bolder;
        font-size: 13px;
    }
#hero{
        background-color: rgb(255,255,255);
        background-image: none;
        color: whitesmoke;
        overflow: scroll;
}

#hero .hero-right{
    width: 100vw;
    height: max-content;
    overflow: visible;
    justify-content:center;
    border-top-left-radius: 0;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 20px;
}
.dcouter{
    width: max-content;
    height: max-content;
    flex: 0 0 70vw;
    margin-bottom: 80px;
}
.dropdown-content{
    flex-direction: column-reverse;
    background-color:transparent;
    border-radius: 10px;
    border: 0.5px solid #202020;
    box-shadow: none;
    width: 70vw;
    overflow: hidden;
}
.dcouter:hover .dropdown-content{
    animation: scales 0.3s ease forwards;
    border: 0;
}


.dropleft{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 0px;
    background-color: transparent;
    color: #202020;
}
.dropdown-content:hover .dropleft{
    animation: none;
}

.dropright{
    width: 100%;
    height: 30vh;
    filter: none;
    box-shadow: none;
}
}
/* End Media Query for Tablet *