body {
    font-family: "Afacad";
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
font-size: 10px;
scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.bpafter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    animation: appear .5s ease forwards;
}
.folder-container{
    width: 100px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    text-align: center;
}
 .bpafter a{
    flex-direction: row;
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(54, 54, 54);
    font-size: 13px;
}
.bpafter img{
    width: 190px;
    height: 200px;
}

 .closed{
    display: flex;
}
 .open{
    display: none;
}
.bpafter a:hover .closed{
    display: none;
}
.bpafter a:hover .open{
    display: flex;
}

/* Hero Section */
#hero{
    background-color:rgb(231, 231, 231);
    background-size: 300px 300px;
    z-index: 1;
    padding-top: 41px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
#hero .hero-container{
    width: 50vw;
    height: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero h3{
    display: flex;
    font-size: 20px;
    margin-top: 5px;
}
#hero h1{
    display: flex;
    font-size: 70px;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: .8s;
    font-family: "Borel";
    margin-top: 20px;
}
#hero p{
    font-size: 18px;
    margin-top: 2px;
}

#hero .hero-right{
    width: 50vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#hero .right-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
#hero .hero-right .bpbefore{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

#hero .right-container:hover .bpbefore{
    display: none;
}
#hero .right-container:hover .bpafter{
    display: flex;
}

#hero .hero-right .bpafter{
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    animation: appear .5s ease forwards;
}
.hero-right .folder-container{
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#hero .hero-right .bpafter a{
    flex-direction: column;
    display: flex;
    text-align: center;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: black;
}
#hero .hero-right .bpafter img{
    width: 167px;
    height: 167px;
}

.hero-right .closed{
    display: flex;
}
.hero-right .open{
    display: none;
}
.bpafter a:hover .closed{
    display: none;
}
.bpafter a:hover .open{
    display: flex;
    animation: scale .5s ease forwards;
}
/* End Hero Section */

.adt{ display: none;}



    /* Keyframes */

@keyframes text_reveal{

    50%{
        color: white;
        font-size: 90px;
    }
    100%{
        color:black;
    }
}

@keyframes scale{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.1;
    }
}
/* End Keyframes */

/* Media Query for Tablet */
@media only screen and (max-width:800px){
#header{
    display: none;
}
#hero{
    height: 200vh;
    padding-top: 0ch;
}
#hero .hero-container{
    width: 100%;
    height: 100vh;
    padding-top: 0%;
}
.adt{
    display: flex;
}
.minu{
    display: none;
}
#hero .hero-right{
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
#hero .hero-right .bpafter{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
}
.hero-right .folder-container{
    width: 50%;
    height: 50%;
    justify-content: space-around;
    display: flex;
}
.hero-right .folder-container a{
    font-size: 15px;
}

#hero .hero-right .bpbefore{
    display: none;
}
}
/* End Media Query for Tablet */