body {
    font-family: "Cabin";
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
font-size: 10px;
scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

#header{
    display: none;
}

/* Hero Section */
#hero{
    background-color:#202020;
    color: whitesmoke;
    background-size: 300px 300px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#hero .hero-container{
    width: 50vw;
    height: 100%;
    justify-content: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 5vw;
}
#hero h3{
    display: flex;
    font-size: 20px;
}
#hero h1{
    display: flex;
    font-size: 90px;
    color: transparent;
    animation: text_reveal2 1s ease forwards;
    animation-delay: .8s;
    font-family: "Cabin";
}
#hero p{
    font-size: 18px;
}

#hero .hero-right{
    width: 50vw;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#hero .right-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}


#hero .hero-right .bpafter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    animation: appear .9s ease forwards;
}
.hero-right .folder-container{
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
#hero .hero-right .bpafter a{
    flex-direction: column;
    display: flex;
    text-align: center;
    width: fit-content;
    height: 25vh;
    align-items: center;
    justify-content: space-between;
}
#hero .hero-right .bpafter img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.hero-right .closed{
    display: flex;
    box-shadow: 0px 4px 40px #555555;
}
.hero-right .open{
    display: none;
    box-shadow: 0px 4px 40px #555555;
}


/* End Hero Section */

.adt{ display: none;}



    /* Keyframes */

@keyframes text_reveal{

    50%{
        color: white;
        font-size: 90px;
    }
    100%{
        color:black;
    }
}

@keyframes scale{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.1;
    }
}
/* End Keyframes */

/* Media Query for Tablet */
@media only screen and (max-width:1000px){
#header{
    display: none;
}
#hero{
    height: 200vh;
    padding-top: 0ch;
}
#hero .hero-container{
    width: 100%;
    height: 100vh;
    padding-top: 0%;
}
.adt{
    display: flex;
}
.minu{
    display: none;
}
#hero .hero-right{
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
#hero .hero-right .bpafter{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
}
.hero-right .folder-container{
    width: 50%;
    height: 50%;
    justify-content: space-around;
    display: flex;
    
}
#hero .hero-right .bpafter img{
    width: 18vh;
    height: 18vh;
}
.hero-right .folder-container a{
    font-size: 15px;
}
}
/* End Media Query for Tablet */