body {
    font-family: "Afacad";
    overflow: hidden;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
font-size: 10px;
scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.folder-container h4{
    color: rgb(173, 173, 173);
    font-size: 13px;
}
.folder-container .activee{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 13px;
}
.bpafter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    animation: appear .5s ease forwards;
}
 .folder-container{
    width: 100px;
    height: 41px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    text-align: center;
}
 .bpafter a{
    flex-direction: row;
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(54, 54, 54);
    font-size: 13px;
}
.bpafter img{
    width: 190px;
    height: 200px;
}

 .closed{
    display: flex;
}
 .open{
    display: none;
}
.bpafter a:hover .closed{
    display: none;
}
.bpafter a:hover .open{
    display: flex;
}
/* Hero Section */
#hero{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
#hero .hero-container{
    width: 50vw;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
#hero .rightbu{
    width: 50vw;
    height: 100vh;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}
#hero .hero-right{
    width: 50vw;
    height: max-content;
    justify-content: center;
    align-items: start;
    display: flex;
    overflow:hidden;
    flex-direction: column;
}
#hero .hero-right h1{
    font-size: 29px;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #202020;
}
#hero .hero-right .adtt{
    font-size: 15px;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #202020;
}
.hero-right .recent{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    backdrop-filter: blur(10em);
    margin-top: 20px;
    overflow-y: visible;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 10vh;
}

.dropdown-content {
    display: flex;
    flex-direction: row-reverse;
    width: 15.5vw;
    height: 15.5vw;
    box-shadow: 0px 0px 20px #9d9d9d;
    overflow: hidden;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  .dropdown-content:hover .dropleft{
    display: flex;
    animation: slide2 0.5s ease forwards;
  }
  .dropdown-content:hover .dropright{
    width: 0%;
    display: flex;
  }

.dropleft{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(10px);
    overflow: hidden;
    color: whitesmoke;
}
 .songava{
    height: 70%;
    box-shadow: 5px 5px 20px rgb(10, 10, 10);
    border-radius: 50%;
    animation: rota infinite 3s;
    margin-left: 70%;
}
.bar{
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.dropleft .bar .play{
    width: 34px;
    display: flex;
}
.dropleft .bar img{
    width: 33px;
}
.dropleft .bar a{
    width: 20px;
    height: 20px;
}
.dropleft .bar a img{
    width: 20px;
    height: 20px;
}
.dropleft h2{
    font-size: 20px;
    margin-bottom: 5px;
}
.dropleft h3{
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}
.dropleft p{
    font-size: 13px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.dropright{
    width: 0%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    display: none;
    overflow: hidden;
    background-color: rgba(35, 35, 35, 0.5);
    backdrop-filter: blur(10px);
}
.playe{
    width: 100%;
    height: 70vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 20px;
    margin-bottom: 10vh;
    padding-top: 44px;
    padding-bottom: 44px;
    gap: 30px;
    justify-content: center;
}
.playlists{
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: visible;
    flex: 0 0 200px;
}
.lis{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 0.5px solid #202020;
}
.lis:hover h3{
    display: flex;
}
.lis h2{
    font-size: 19px;
    width: 150px;
    height: fit-content;
    color: #202020;
    align-items: center;
    display:flex;
    padding-left: 5px;
}
.lis h3{
    display: none;
    font-size: 13px;
    color: #202020;
}
.playlists a{
    width: fit-content;
    height: fit-content;
}
.playlists a:hover .lis{
    animation: scales 0.5s ease forwards;
    border:0;
}
.playlists a:hover .lis h2{
    width: 100px;
    height: fit-content;
}
.hero-right .lmn{
    display: none;
    color: whitesmoke;
    overflow: hidden;
    white-space: nowrap;
}
.hero-right:hover .lmn{
    animation: reveall 2s forwards;
    display: flex;
    width: 0;
    color: #202020;
}

/* End Hero Section */





    /* Keyframes */

@keyframes text_reveal{

    50%{
        color: rgb(250, 250, 250);
        font-size: 90px;
    }
    100%{
        color:#252525;
    }
}
@keyframes reveall{

    1%{
        width: 0%;
    }
    100%{
        width: 55px;
    }
}

@keyframes slide2{
    1%{
        opacity: 0.2;
    }

    100%{
        opacity: 1;
    }
}
@keyframes rota{
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes open{
    1%{
            border: 0.3px solid whitesmoke;
            border-radius: 20px;
            height: 0;
            overflow: hidden;
    }    
    50%{
            border: 1px solid whitesmoke;
            border-top-left-radius: 70px;
            border-bottom-right-radius: 70px;
            border-top-right-radius: 70px;
            border-bottom-left-radius: 70px;
        }
        100%{
            border: 0px solid whitesmoke;
            border-top-left-radius: 70px;
            border-bottom-right-radius: 70px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            height: 80vh;
            overflow: hidden;
        }
}

/* End Keyframes */

/* Media Query for Tablet */
@media only screen and (max-width:1000px){
#hero{
        background-image: none;
        overflow: scroll ;
}
#hero .hero-container{
    width: 100%;
    height: 100vh;
}
#hero .rightbu{
    width: 100%;
    overflow: visible;
    height: max-content;
}

#hero .hero-right{
    width: 100vw;
    height: max-content;
    flex-direction: column;
    padding-top: 0px;
}
#hero .hero-right h1{
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.hero-right .recent{
    height: max-content;
    justify-content: space-around;
    border-radius: 20px;
    animation: none;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
}
.dropdown-content{
    width: 55vw;
    height: 60vw;
    flex-direction: column-reverse;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    box-shadow: none;
    background-image: none;
    border-radius: 20px;
    padding: 0;
    margin-bottom: 50px;
    border: 0.5px solid #202020;
    box-shadow: 0px 0px 20px #9d9d9d;
}
.dropdown-content:hover .dropleft{
    display: flex;
    animation: none;
    height: 100%;
    width: 100%;
  }
  .dropdown-content:hover .dropright{
    display: none;
  }
.dropleft{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    background-color: rgba(14, 14, 14, 0.5);
    backdrop-filter: blur(5px);
    color: whitesmoke;
    border-radius: 0;
}
.dropleft .bar{
    height: 50%;
    margin-bottom: 10px;
}

.dropright{
    display: none;
}
.songava{
    display: none;
}
.playe{
    padding-top: 5vh;
    margin-bottom: 100px;
    height: max-content;
    width: 100%;
    overflow: visible;
}
.playlists{
    flex: 0 0 38px;
}
.playlists a{
    width: 30vw;
    height: 30vw;
}
.playlists a:hover .lis{
    border: 0px;
}

.lis{
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    box-shadow: none;
    background-color: transparent;
    border: 0.5px solid #202020;
}
.lis h2{
    width: 100px;
    height: fit-content;
}
.lis h3{
    display: none;
}

.dropleft .bar .play{
    width: 35px;
    display: none;
}
.dropleft .previous, .next{
    display: none;
}
.dropleft .bar a{
    width: fit-content;
    height: fit-content;
}
.dropleft .bar a img{
    width: 50px;
    height: 50px;
}
}
/* End Media Query for Tablet *